.note-form-container {
    display: flex;
    margin: 0 5vw;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.input-group label {
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.input-group input, .input-group select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    border: none;
    width: 100%;
    height: 2rem;
}

.note-form-container button {
    margin: 1rem 0;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
}


.note-form-container button:active, note-form-container button:focus {
    background-color: #000;
    color: #fff;
}

.delete-button {
    background-color: #ed0000 !important;
    color: #fff !important;
}

.delete-button:hover {
    background-color: #bd0101 !important;
}

@media (min-width: 768px) {
    .note-form-container {
        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content: space-around;
        align-items: end;
        padding:  2vh 0;
    } 
    
    .input-group {
        width: 100%;
    }

    .note-form-container button {
        margin: 0.5rem 0;
        margin: 0.5rem 0;
        padding: unset;
        height: 2rem;
        width: 100%;
    }

    .note-form-container button:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

}